{% extends "base.html" %}
{% block title %}Home — Bookmarks App{% endblock %}
{% block content %}
	<section>
		<h2 class="text-xl font-bold text-black">Create</h2>
		<form action="/bookmarks" method="post">
			<p>Required fields:</p>
			<div class="grid">
				<label>
					URL *
					<input type="text" name="url" required placeholder="https://..." />
				</label>
				<label>
					Title
					<input type="text" name="name" placeholder="petr's blog" />
				</label>
			</div>
			<p>Optional fields:</p>
			<div class="grid">
				<label>
					Description
					<input type="text" name="note" placeholder="About" />
				</label>
				<label>
					Tags
					<input type="text" name="tags" placeholder="blog, self-host, etc." />
				</label>
			</div>
			<button type="submit">Create</button>
		</form>
	</section>
{% endblock %}
