<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{% block title %}Bookmarks App{% endblock %}</title>
		<meta name="description" content="Link hoarding limbo" />
		<link rel="stylesheet" href="/public/reset.css" />
		<link rel="stylesheet" href="/public/index.css" />
	</head>
	<body>
		{% block content %}{% endblock %}
		<footer>
			<hr />
			<em>site template: <a href="https://github.com/owickstrom/the-monospace-web/tree/main">monospace-web</a></em>
		</footer>
	</body>
</html>
